<!doctype html>
<html lang="en">
    <%- include('header') %>
  <body>   
    <div class="container mt-5">
        <form class="d-flex justify-content-center" action="/" method="GET">
            <div class="container mt-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search articles" id="searchInput" aria-label="Search articles" aria-describedby="basic-addon2" acct name="query">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="searchBtn">
                            <span id="searchSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span>
                            Search
                        </button>
                    </div>
                </div>
                <div id="suggestionsDropdown" class="list-group" style="position: absolute; z-index: 1000;"></div>
            </div>
        </form>
        <h2 class="mb-4"><%= query ? 'Search Results' : 'Top Stories' %></h2>
        <div class="row equal-height mt-4">
            <% if(query) { %>
                <% if(articles.length > 0) { %>
                    <div class="list-group">
                        <% articles.forEach(article => { %>
                            <div class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <% if(article.media && article.media.length > 0 && article.media[0]['media-metadata'] && article.media[0]['media-metadata'].length > 2) { %>
                                        <img src="<%= article.media[0]['media-metadata'][2].url %>" class="img-fluid rounded float-start me-3" alt="Article Image" style="width: 100px; height: auto;">
                                    <% } %>
                                    <div class="fw-bold"><%= article.headline.main %></div>
                                    <p><%= article.abstract %></p>
                                    <p><small class="text-muted"> <%= article.byline.original %> on <%= new Date(article.pub_date).toLocaleDateString() %></small></p>
                                </div>
                                <a href="<%= article.web_url %>" class="btn btn-primary btn-sm" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        <% }); %>
                    </div>
                <% } else { %>
                    <div class="col-12">
                        <p>No such information.</p>
                    </div>
                <% } %>
            <% } else { %>
                <% articles.forEach(article => { %>
                    <div class="col-md-4 mb-4 d-flex align-items-stretch">
                        <div class="card">
                            <% if(article.media.length > 0 && article.media[0]['media-metadata'].length > 2) { %>
                                <img src="<%= article.media[0]['media-metadata'][2].url %>" class="card-img-top" alt="Article Image">
                            <% } %>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title"><%= article.title %></h5>
                                <p class="card-text"><%= article.abstract %></p>
                                <p class="card-text"><small class="text-muted"><%= article.byline %> on <%= article.published_date %></small></p>
                                <a href="" class="btn btn-primary mt-auto" target="_blank">Read more</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
        <% if(!query) { %>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                <li class="page-item <% if(page <= 1) { %>disabled<% } %>">
                    <a class="page-link" href="?page=<%= page - 1 %>&query=<%= query %>" tabindex="-1">Previous</a>
                </li>
                <li class="page-item <% if(page >= maxPages) { %>disabled<% } %>">
                    <a class="page-link" href="?page=<%= page + 1 %>&query=<%= query %>">Next</a>
                </li>
                </ul>
            </nav>
        <% } %>
    </div>    
    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        }

        let lastQueryLength = 0;
        document.getElementById('searchInput').addEventListener('input', debounce(async function(e) 
        {
            const query = e.target.value;
            // Attempt to retrieve cached data
            const cachedData = localStorage.getItem(`search-${query}`);
            if (cachedData) {
                // If cached data exists, parse it and use it directly
                displaySuggestions(JSON.parse(cachedData));
            } else {
                // If no cached data, fetch new data
                document.getElementById('searchSpinner').style.display = 'inline-block';
                fetch(`/suggest?q=${encodeURIComponent(query)}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('searchSpinner').style.display = 'none';
                        localStorage.setItem(`search-${query}`, JSON.stringify(data)); // Cache the new results
                        displaySuggestions(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        document.getElementById('searchSpinner').style.display = 'none';
                    });
                }
        }, 250));
        
        function cacheData(key, data) {
            const now = new Date().getTime();
            const item = {
                data: data,
                expiry: now + 3600 * 1000, // Cache data for 1 hour
            };
            localStorage.setItem(key, JSON.stringify(item));
        }

        function getCachedData(key) {
            const itemStr = localStorage.getItem(key);
            if (!itemStr) {
                return null;
            }
            const item = JSON.parse(itemStr);
            const now = new Date().getTime();
            // Compare the expiry time of the item with the current time
            if (now > item.expiry) {
                // If the item is expired, delete it from storage and return null
                localStorage.removeItem(key);
                return null;
            }
            return item.data;
        }

        function displaySuggestions(suggestions) {
            const suggestionsDropdown = document.getElementById('suggestionsDropdown');
            suggestionsDropdown.innerHTML = '';
            suggestions.forEach(suggestion => {
                const item = document.createElement('a');
                item.href = suggestion.url;
                item.classList.add('list-group-item', 'list-group-item-action');
                item.textContent = suggestion.title;
                item.addEventListener('click', function() {
                    window.location.href = suggestion.url;
                });
                suggestionsDropdown.appendChild(item);
            });
        }

        // To clear suggestions when clicked outside the search box
        document.addEventListener('click', function(event) {
            const suggestionsDropdown = document.getElementById('suggestionsDropdown');
            const searchInput = document.getElementById('searchInput');

            // Check if the click is outside of the suggestionsDropdown and the searchInput
            if (!suggestionsDropdown.contains(event.target) && event.target !== searchInput) {
                suggestionsDropdown.innerHTML = ''; // Clear suggestions
            }
        });
    </script>
  </body>
</html>